.utility-banner > div{
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
  
  .utility-banner-col-0,
  .utility-banner-col-2 {
    margin: 0 20px;
  }

  .utility-banner-col-0 a{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  
  .utility-banner-col-1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
  }
  
  .utility-banner-col-1 li {
    padding: 0 10px;
  }
  
  .utility-banner-col-0 p,
  .utility-banner-col-2 p {
    margin: 0;
  }
  
  .utility-banner a {
    color: white;
    text-decoration: none;
  }
  
  .utility-banner a:hover {
    text-decoration: underline;
  }

  .utility-banner .carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: max-content;
  }
  
  .utility-banner .carousel-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    transition: transform 0.3s ease-in-out;
  }
  
  .utility-banner .carousel-item {
    min-width: 280px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
    border: none;
    margin:0;
    cursor: pointer;
  }

  .carousel-button.prev {
    left: 0;
    padding: 0;
  }

  .carousel-button.next {
    right: 0;
    padding: 0;
  }
  
  .carousel-button:hover,
  .carousel-button:focus,
  .carousel-button:active {
    background-color: transparent;
  }

  .utility-banner .carousel-button:disabled {
    opacity: 0;
  }

  button.carousel-button img {
    width: 24px;
  }

  .utility-banner .utility-banner-col-0,
  .utility-banner .utility-banner-col-2 {
    display: none;
  }

  .utility-banner .carousel-item > a{
    font-size: 12px;
    text-decoration: underline;
  }

  @media (width >= 1024px){
    .utility-banner .utility-banner-col-0,
    .utility-banner .utility-banner-col-2 {
      display: block;
    }

    .utility-banner .carousel {
      width: 600px;
      margin: 0 20px;
    }

    .utility-banner .carousel-item {
      min-width: 600px;
      flex-direction: row;
    }
  }