:root {
    --lighter-brand-color: #AFF6D9;
    --light-brand-color: #88F1C6;
    --brand-color: #60EDB3;
    --dark-brand-color: #067647;
    --darker-brand-color: #074D31;
    --brand-btn-color: #60EDB3;
  
  }